# Visual Studio
*.suo
*.user
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

# MonoDevelop
*.pidb
*.userprefs

# NDepend
NDependOut*/

# ReSharper
_ReSharper*/
*.resharper

# NUnit
[Tt]est[Rr]esult*/
[Tt]est-[Rr]esult*/

# NuGet
/Source/packages